@charset "UTF-8";

body {
    background-color: rgb(2, 21, 37);
    font-family: Calibri;
    color: rgb(240, 222, 203);
}
hr {
    margin-left: 30px;
    margin-right: 30px;
}
#header{
    font-family: Times;
    margin-left: 20px;
    ::first-letter {
        font-size: 175%;
        }
}
#menu {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Times;
    text-align: center;
}
a {
    color: goldenrod;
    text-decoration: none;
}
h2 {
    color: goldenrod;
    font-family: Times;
}
#sobre, #port {
    text-align: right;
    margin-left: 40%;
    margin-right: 50px;
}
#form, #cont {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}
p {
    margin-top: 10px;
    margin-bottom: 50px;
}
ul {
    list-style-type: disc;
}